.header {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  .header nav ul {
    display: flex;
    list-style: none;
  }
  
  .header nav ul li {
    margin-right: 15px;
  }
  
  .header nav ul li a {
    text-decoration: none;
    color: #333;
  }